<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9f4e23b1-82f3-43b2-9ad7-910d38cffd75/resourceGroups/AnsibleOEFENEN_group/providers/Microsoft.Web/sites/CSharpOnline</ResourceId>
    <ResourceGroup>AnsibleOEFENEN_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://csharponline.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6855a2fb-dc84-47f2-b71f-ecdc9b100832</ProjectGuid>
    <PublishUrl>https://csharponline.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CSharpOnline</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>